
PrimeNumberTest/Debug/PrimeNumberTest.tlog/PrimeNumberTest.write.1u.tlog
PrimeNumberTest/Debug/stdafx.obj
PrimeNumberTest/Debug/vc141.idb
PrimeNumberTest/Debug/vc141.pdb
PrimeNumberTest/Debug/PrimeNumberTest.tlog/link.write.1.tlog
PrimeNumberTest/Debug/PrimeNumberTest.tlog/link.read.1.tlog
PrimeNumberTest/Debug/PrimeNumberTest.tlog/link.command.1.tlog
PrimeNumberTest/Debug/PrimeNumberTest.tlog/CL.write.1.tlog
PrimeNumberTest/Debug/PrimeNumberTest.tlog/CL.read.1.tlog
PrimeNumberTest/Debug/PrimeNumberTest.tlog/CL.command.1.tlog
PrimeNumberTest/Debug/PrimeNumberTest.pch
PrimeNumberTest/Debug/primeNumberTest.obj
PrimeNumberTest/Debug/PrimeNumberTest.log
LibPrimeNumber/Debug/stdafx.obj
LibPrimeNumber/Debug/LibPrimeNumber.tlog/LibPrimeNumber.lastbuildstate
LibPrimeNumber/Debug/LibPrimeNumber.tlog/Lib.command.1.tlog
LibPrimeNumber/Debug/LibPrimeNumber.tlog/Lib-link.write.1.tlog
LibPrimeNumber/Debug/LibPrimeNumber.tlog/Lib-link.read.1.tlog
LibPrimeNumber/Debug/LibPrimeNumber.tlog/CL.write.1.tlog
LibPrimeNumber/Debug/LibPrimeNumber.tlog/CL.read.1.tlog
LibPrimeNumber/Debug/LibPrimeNumber.tlog/CL.command.1.tlog
LibPrimeNumber/Debug/LibPrimeNumber.pdb
LibPrimeNumber/Debug/LibPrimeNumber.pch
LibPrimeNumber/Debug/LibPrimeNumber.log
LibPrimeNumber/Debug/IsPrimeNumber.obj
Debug/PrimeNumberTest.pdb
Debug/PrimeNumberTest.lib
Debug/PrimeNumberTest.ilk
Debug/PrimeNumberTest.exp
Debug/PrimeNumberTest.dll
Debug/LibPrimeNumber.pdb
Debug/LibPrimeNumber.lib
.vs/LibPrimeNumber/v15/Solution.VC.db-wal
.vs/LibPrimeNumber/v15/Solution.VC.db-shm
.vs/LibPrimeNumber/v15/Solution.VC.db
.vs/LibPrimeNumber/v15/ipch/e113e0f835c72bb6.ipch
.vs/LibPrimeNumber/v15/ipch/5deb79ec5632b0a7.ipch
.vs/LibPrimeNumber/v15/Browse.VC.opendb
.vs/LibPrimeNumber/v15/Browse.VC.db
.vs/LibPrimeNumber/v15/.suo
IsPrimeNumber/
